@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: white;
}
.text-block {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border: 5px dashed black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid black;
}
.text {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
    color: #000000;
    background: white;
}
.img {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 190px;
    top: 77px;
}
.header{
    height: 5vh;
    width: 100vmax;
    background-color: #25274d;
}
a{
    text-decoration: #000000;
    display: inline-block;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    font-family: 'Montserrat', sans-serif;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    color: #5e5e5e;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
.header{
    font-family: 'Monsterrat', sans-serif;
}
.header__top{
    text-align: center;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
    padding: 25px 200px 25px;
}
.header__logo{
    position: absolute;
    width: 20px;
    height: 18px;
    left: 200px;
    top: 160px;
}
.p{
    position: absolute;
    width: 20px;
    height: 18px;
    left: 445px;
    top: -15px;
}
.o{
    position: absolute;
    width: 20px;
    height: 18px;
    left: 240px;
    top: 5px;
}